body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

header h1 {
    text-align: center;
}

.date-button {
    color: rgb(0, 81, 255);
}

.date-button:hover {
    color: rgb(0, 60, 189);
    cursor: pointer;
}

.transaction {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.transaction:hover {
    cursor: pointer;
}

.income {
    border: 2px solid green;
}
.expense {
    border: 2px solid red;
}

.transaction-date {
    font-size: 1.5em;
}

.transaction-name {
    font-size: 1.2em;
}

.transaction-amount {
    font-size: 1.2em;
}

.transaction-details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* mobile styles */
@media only screen and (max-width: 768px) {
    .transaction {
        width: 80%;
    }
}